.footer{
    margin-top: 50px;
    height: 150px;
    background-color: #EDEFF0;
}
.footer-content{
    width: 100%;   
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 1em;
    transition: left 0.2s ease-out; 
}
