:host{
    display: flex;   
    flex-direction: column; 
    flex: 1;
    margin: 0;
    padding: 0;
}

.main-content{
    text-align: center;
    min-height: 250px;
    border: 3px solid red;
}
.main-content-title{
    border: 3px solid black;
}
.main-content-item{
    text-align: center;
    border: 3px solid lightcoral;
}

.sub-content{
    text-align: center;
    border: 3px solid blue;
}
.sub-content-item{
    min-height: 150px;
    border: 3px solid lightblue;
}