<div class="ui-g">
  <div class="main-content ui-g-12">
    <div class="main-content-item">
      <div class="main-content-title">
        Main Content Title
      </div>
      <div>
        Main Content
      </div>
      <div>
        <div class="create-button">
          <button pButton class="ui-button-success" type="button" icon="fa-plus" label="Create Resource"></button>
        </div>
      </div>
      <div>
        <a routerLink="/resource-one/list" routerLinkActive="active">View All</a>
      </div>
    </div>
  </div>
</div>
<div class="ui-g">
  <div class="sub-content ui-g-12">
    <div class="sub-content-item ui-g-6 ui-sm-12">
      <div class="sub-content-title">
        Sub Content Title
      </div>
      <div>
        <ul>
          <li>
            <a routerLink="/resource-one/1" routerLinkActive="active">Resource One #1</a>
          </li>
          <li>
            <a routerLink="/resource-one/2" routerLinkActive="active">Resource One #2</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="sub-content-item ui-g-6 ui-sm-12">
      <div class="sub-content-title">
        Sub Content Title
      </div>
    </div>
  </div>
</div>