<div *showItBootstrap="['md','lg', 'xl']" class="header-content">
  <div class="title-bar">
    <img class="title-logo" src="http://via.placeholder.com/50x50" alt="Powerlifting Meet Logo">
    <div class="menu-area">
      <fw-menu></fw-menu>
    </div>
  </div>
</div>
<div *showItBootstrap="['sm', 'xs']" class="header-content">
  <div class="title-bar-small">
    <i class="fa fa-bars fa-2x"></i>
    <div class="title-logo-small-holder">
      <img class="title-logo-small" src="http://via.placeholder.com/50x50">
    </div>
    <i class="fa fa-ellipsis-v fa-2x"></i>
  </div>
</div>