 :host {
    display: flex;

    /* visualize */
    background-color: #3E474F;
    border: 3px solid black;
  }

  .header-content{    
    /* header center */
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 1em;
    transition: left 0.2s ease-out;
        
    /* visualize */   
    background-color: #ABBBBD;
    border: 3px solid #5FCF80;
  }

  .title-bar {
    flex-grow: 1;
    display: flex;
    min-height: 50px;
    max-height: 65px;
  }
  .title-bar-small {
    flex-grow: 1;
    display: flex;
    min-height: 50px;
    max-height: 65px;
  }
  .title-logo{
    padding: 3px;

    /* visualize */
    border: 3px solid black;
  }
  .title-logo-small {
    padding: 3px;
  }
  .title-logo-small-holder {
    flex-grow: 1;
    
    /* visualize */
    border: 3px solid black;
  }

  .menu-area {
    display: flex; 
    flex-grow: 1;
    flex-direction: column; 
    font-size: 14px;
    padding-bottom: 12px;
    /* visualize */
    border: 3px solid black;
  }

  i {
    margin-left: 10px;
    margin-right: 20px;
    line-height: 65px;
  }

  .divider{
    width: 2px;
    margin: 10px 12px;
    background: #373A3C;
  }