:host{
    display: flex;
    min-height:738px;

    /* content-center */
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 1em;
    transition: left 0.2s ease-out;

    /* w/o fixed header  */
    /* position: relative; */

    /* visualize */
    background-color: #EDEFF0;
    border: 3px solid darkgrey;
}