/* You can add global styles to this file, and also import other style files */
*{
  margin: 0;
}
html, body {
  /* font-family: 'Lato', sans-serif; */
  height: 100%;
}
.site-container{
  min-height: 100%;
  margin-bottom: -150px;
  /* color matches main-container */
  background-color: #FAFAFA;
}
.site-container:after{
  height: 150px;
  content: " ";
  display: block;
}
  .clickable{
    cursor: pointer;
    outline: none;
  }

  /* Clarity overwrites */
  .main-container{
    height: auto;
    
    /* overflow: auto;
    z-index: 1;
    width: 100%; */

    /* background-color: white; */
  }
  .content-container{
    margin-top: 36px;
  }
  .header-hamburger-trigger{
    outline:none !important;
 }