/* You can add global styles to this file, and also import other style files */
*{
  margin: 0;
}
html, body {
  /* font-family: 'Lato', sans-serif; */
  height: 100%;
}
.site-container{
  min-height: 100%;
  margin-bottom: -200px;
  /* color matches main-container */
  background-color: #FAFAFA;
}
.site-container:after{
  height: 200px;
  content: " ";
  display: block;
}
  /* Clarity overwrites */
  .main-container{
    height: auto;
  }
  .content-container{
    margin-top: 36px;
  }
  .header-hamburger-trigger{
    outline: none !important;
 }
.nav .nav-link.nav-item{
  outline: none !important;
}