/* You can add global styles to this file, and also import other style files */
html, body {
  font-family: 'Lato', sans-serif;
    margin:0;
    height:100%;
    min-height:100%;
  }
  .content-container{
    margin-top: 36px;
  }
  .header-hamburger-trigger{
    outline:none !important;
 }